* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.profileRight {
  flex: 9.8;
}
.profile {
  width: 100%;
  height: 62vh;
  background: pink;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.coverImg {
  position: relative;
}
.coverImg > img {
  width: 100%;
  height: 38vh;
}
.profileImg {
  position: absolute;
  bottom: -5.2rem;
  left: 50%;
  transform: translateX(-50%);
}
.profileImg img {
  width: 11rem;
  height: 11rem;
  border-radius: 50%;
  border: 3px solid #fff;
  object-fit: cover;
}
.profileInfo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.profileInfo h1 {
  text-align: center;
  margin-top: 2rem;
  transform: translateX(-1%);
}
.twoParts {
  display: flex;
}
